# Reference:
# https://cbonte.github.io/haproxy-dconv/1.6/configuration.html

# Basic configuration
global
    maxconn 4096

defaults
    log     global
    option  httplog
    option  dontlognull
    mode http
    timeout http-request 30s
    timeout client  30s
    timeout connect 30s
    timeout server  30s
    timeout http-keep-alive 30s
    option  redispatch
    retries 1


listen stats
    bind *:9527
    maxconn 10
    mode http
    stats enable
    stats uri /

# Chat Server
# 122.144.134.244:10080 -> idc41:15801
# 122.144.134.244:10081 -> idc41:80
listen chatbot-server
   bind *:11180
   mode http
   server idc41 122.144.134.244:10080

# Admin Server
listen admin-server
   bind *:11181
   mode http
   server idc41 122.144.134.244:10081

